.header {
  background-color: #5ea2fa;
  padding: -0px 0;
  margin-left: -0px;
  color: #333;
  font-size: 10px;
  margin-bottom: 100px;
  width: 100%;
  padding-left: 0px;
  font-weight: bold;
}

.h1 {
  padding-left: 30px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
}


.field {
  position: relative;
  margin-bottom: 20px;
}

.field--spaced {
  margin-bottom: 40px; 
}


.button-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}


.error-message {
  color: rgb(169, 69, 69);
  font-size: 14px;
  margin-left: 10px;
  white-space: nowrap; 
}


.form-container {
  background: #5ea2fa;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.field__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.field__label {
  position: absolute;
  top: 0.25em;
  left: 4px;
  font-size: 0.85em;
  color: darkgrey;
  transition: 0.2s ease;
  pointer-events: none;
}

.field__input:not(:placeholder-shown) + .field__label {
  color: black;
  scale: 1;
  translate: -0.5em -1.75em;
}

.field__input:focus + .field__label {
  color: #141914;
}

.button {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px rgba(128, 173, 244, 0.825), 
              -6px -6px 12px #587be3;
}

.button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 17;
  background-image: linear-gradient(to right, #5ea2fa 0%, #ffffff 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.button:hover::before {
  width: 9em;
}


.footer {
  margin-top: auto;
  background-color: #333;
  
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  border-top: 20px solid #5ea2fa;
  width: 100%;
}

.ft {
  color:#f8f5f5 ;
  background-color: #333;
}